<div class="container">
  <div align="center">
    <h1>Profile</h1>
  </div>

  <table class="table table-striped">
    <thead class="text-center">
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Avatar</th>
      <th colspan="2">Thao Tác</th>
    </tr>


    </thead>
    <tbody class="text-center">
<!--    <tr *ngFor="let profile of profileList |paginate: { itemsPerPage: 5, currentPage: p}">-->
      <tr>
      <td>{{profileList.id}}</td>
      <td>{{profileList.displayName}}</td>
      <td>{{profileList.avatar}}</td>
      <td>
        <a role="button"><span
          class="fa fa-trash text-danger" style="font-size:24px" title="Xóa"></span></a>
      </td>

      <td>
        <a role="button"><span class="fas fa-pencil" style="font-size:24px" title="Sửa"></span></a>
      </td>
    </tr>
    </tbody>
  </table>
<!--  <div align="center">-->
<!--    <pagination-controls (pageChange)="p = $event" style="margin-left: 55%"></pagination-controls>-->
<!--  </div>-->
</div>
