<div class = "container">
  <div class="row" >
    <div class="mb-5" style="height:50px">
      <h1 class="text-center" style=" padding-top: 12px;">Thư mục Sản Phẩm</h1>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let list of listCategory | paginate: { itemsPerPage: 4, currentPage: p}">
      <div class="card mb-3">
        <img class="card-img-top" src="https://i.ytimg.com/vi/A00_ULT7eQU/maxresdefault.jpg" alt="" height="200px">

        <div class="card-body">
          <h2 [routerLink]="['/list',list.id]">{{list.name | titlecase}}</h2>
          <br>
          <div class="d-flex justify-content-between">
            <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" routerLink="/detail-employee/{{list.id}}"><i class='far fa-address-card' style='font-size:24px'></i></a>
            <a class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter" routerLink="/edit-employee/{{list.id}}" ><i class='fas fa-edit' style='font-size:24px'></i></a>
            <a class="btn btn-danger" data-toggle="modal" data-target="#modalDelete" ><i class="fas fa-trash" style="font-size:24px"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div align="center">
    <pagination-controls (pageChange)="p = $event" style="margin-left: 55%"></pagination-controls>
  </div>
</div>

2
